<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=developmenttester;AccountKey=CPp30KuH0Wphc5MimB/8w5GiR49/kdcHV5+PbScyIajBMgFUqEYLF3otHU4yqiAKD0kpC0oVwxyyR0AMAJc0wQ==;EndpointSuffix=core.windows.net" />
    </appSettings>
</configuration>